@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --light-blue: #add8e6;
    --button-bg: #73f2f734;
    --hover-color: #ffffff8a;
    --background-color: 45deg, #0093E9 0%, #80D0C7 100%;
    --text-color: #000000;
}

body, html{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(var(--background-color));
    height: 100vh;
    color: var(--text-color);
}

.label{
    background-color: #0093E9;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    height: 26px;
    width: 60px;
}

.label .ball{
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 3px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.label:hover{
    transition: 0.3s;
    transform: scale(1.1);
    
}

.checkbox{
    opacity: 0;
}

.checkbox:checked + .label {
    background-color: black;
}

.checkbox:checked + .label .ball{
    transform: translateX(32px);
}

.user{
    font-weight: 600;
}

.container{
    display: flex;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
} 

.container .treeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.treeContainer .avatar{
    width: 213px;
    height: 213px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid var(--light-blue);
    border-radius: 50%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.418);
}

.treeContainer .avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.treeContainer .avatar img:hover{
    transition: 0.3s;
    transform: scale(1.2);
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.418);
}

.treeContainer .user{
    margin-top: 10px;
}

.treeContainer .linksContainer{
    display: flex;
    margin-top: 17px;
    flex-direction: column;
    
}

.linksContainer .link{
    color: var(--txt-whiteMode);
    background: var(--button-bg);
    margin-top: 12px;
    width: 326px;
    border: 2px solid var(--light-blue);
    border-radius: 8px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.418);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    transition: ease 0.4s;
}


.linksContainer .link:hover{
    background: var(--hover-color);
    color: var(--txt-whiteMode);
    transform: scale(1.1);
    
}

footer{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}